<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="materialize.min.css")
        link(rel="stylesheet", href="style.css")
        script(src="materialize.min.js")
        title Introduction
    body
        .container
            img.materialboxed(width="100%" src="img/cruise-3991937_1920.jpg")
            .row
                h2 About
                .card
                    .card-title
                        h3.center-align おかきょー
                    .card-content
                        p 同志社大学　理工学部所属
                        p Twitter:
                            a(href="https://twitter.com/31415O_Kyo") @31415O_Kyo
                        p GitHub:
                            a(href="https://github.com/okakyo") @okakyo

                        p Qiita:
                            a(href="https://qiita.com/0622okakyo") @0622okakyo
                        p Mail:0622okakyo@gmail.com


