<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="materialize.min.css")
        script(src="materialize.min.js")
        title Introduction
    body
        .container
            img.materialboxed(width="100%" src="img/cruise-3991937_1920.jpg")
            .row
                h2 About
                .card
                    .card-title
                        h3.center-align おかきょー
                    .card-content
                        p 同志社大学　理工学部所属
                        p Twitter:
                            a(href="") @31415O_Kyo
                        p Qiita:
                            a(href="") @0622okakyo
                        p 


